:root {
  --vp-c-brand-1: #2563eb;
  --vp-c-brand-2: #60a5fa;
  --vp-c-brand-3: #bfdbfe;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    #bfdbfe 10%,
    #2563eb 100%
  );

  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #bfdbfe 10%,
    #2563eb 100%
  );
  --vp-home-hero-image-filter: blur(150px);

  --vp-button-brand-border: #bfdbfe;
  --vp-button-brand-text: #fff;
  --vp-button-brand-bg: #2563eb;

  --vp-button-brand-hover-border: #bfdbfe;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #2563eb;

  --vp-button-brand-active-border: #93c5fd;
  --vp-button-brand-active-bg: #1d4ed8;
}

.dark {
  --vp-c-brand-1: #2563eb;
  --vp-c-brand-2: #60a5fa;
  --vp-c-brand-3: #bfdbfe;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    #bfdbfe 10%,
    #2563eb 100%
  );
  
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #bfdbfe 10%,
    #2563eb 100%
  );
}
